In [5]:
str='My,Name,Is,Parikh'
li =str.split(',',2)
print(li)

['My', 'Name', 'Is,Parikh']

replace

In [2]:
str='My Name Is Parikh'
str1=str.replace("Parikh","rohan")
print(str1)

My Name Is rohan

In [4]:
str='My Name Is Parikh Parikh Parikh'
#str=str.replace("Parikh","rohan")
str=str.replace("Parikh","rohan",2)
print(str)

My Name Is rohan rohan Parikh

find

In [9]:
str='My Name Is Parikh'
index=str.find("Na")
print(index)

3

In [14]:
str='My Name Is Parikh Parikh'
index=str.find("Par",16,21)
print(index)

18

### lower and upper

In [16]:
str='My Name Is Parikh'
index=str.lower()
print(index)
index=str.upper()
print(index)

my name is parikh
MY NAME IS PARIKH

startwith

In [19]:
str='My Name Is Parikh'
ans=str.startswith("My Nae")
print(ans)

False

In [20]:
str='My Name Is Parikh'
ans=str.startswith("Pa",11,25)
print(ans)

True

In [24]:
str="faafaavxz"
str=str.replace('a','d')
print(str)

fddfddvxz

In [27]:
def replace(str,char1,char2):
    newstr=" "
    for char in str:
        if char==char1:
            newstr +=char2
        else:
            newstr +=char
    return newstr
str="faafaavxz"
str=replace(str,'a','d')
print(str)

 fddfddvxz

### count vowel,consonants,digits and special character

In [34]:
def countINString(str):
    v,c,d,s=0,0,0,0
    for char in str:
        if (char>='a' and char<='z') or (char>='A' and char<='Z'):
            char=char.lower()
            if (char=='a' or char=='e' or char=='i'or char=='o' or char=='u'):
                v +=1
            else :
                c +=1
        
        elif (char>='0' and char<='9'):
            d +=1
            
        else:
            s +=1
            
    return v,c,d,s


str="afsaAFaawurioq241214dsafd!@ afsa421"
v,c,d,s=countINString(str)
print(v,c,d,s)

11 12 9 3