In [1]:
a=(1,2)

In [2]:
print(a)

(1, 2)

In [3]:
type(a)

tuple

In [4]:
b,c=3,4
print(b)
print(c)

e=5,6
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

In [5]:
e[0]

5

In [6]:
e[-1]

6

In [1]:
f=(1,2,3,4,5,6)
f[0:3]

(1, 2, 3)

In [8]:
f[3:]

(4, 5, 6)

In [2]:
f[4]=12

TypeError: 'tuple' object does not support item assignment

In [11]:
del f[4]

TypeError: 'tuple' object doesn't support item deletion

In [12]:
del f

In [13]:
print(f)

NameError: name 'f' is not defined

In [14]:
a=(1,2,3)
b=4,5

In [16]:
for i in a:
    print(i)

1
2
3

In [17]:
1 in a

True

In [18]:
1 in b

False

In [19]:
len(a)

3

In [20]:
c= a+b

In [21]:
c

(1, 2, 3, 4, 5)

In [22]:
d=(a,b)

In [23]:
d

((1, 2, 3), (4, 5))

In [24]:
e=a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
max(a)

3

In [28]:
a2=(1,2,(1,2))
a3=(1,2.2)

In [29]:
min(a3)

1

In [30]:
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [27]:
min(a2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [31]:
a = 1,2
b = (4,5)
d = (a,b)
print(d[0])

(1, 2)

In [33]:
a = ('ab','abc','def')
print(min(a))

ab