## print helloworld

In [2]:
S= int(input())
E= int(input())
W= int(input())
fah=S
while fah<=E:
    c=(fah-32)*(5/9)
    #print(str(fah)+" "+str(int(c)))
    print(fah , int(c))
    fah=fah+W

0
100
20
0 -17
20 -6
40 4
60 15
80 26
100 37

In [ ]:
print("hello")
print("hello")
10

## variables

In [5]:
a =10
b =20

sum=a+b
print(sum)

30

In [6]:
ab_cl=10
_ss=2
#12cd=20

SyntaxError: invalid decimal literal (3598019719.py, line 3)

In [7]:
a=10
b=20
multiple=a*b
print("multiple")

multiple

# assignning different type of data to a variable

In [8]:
a =10
a =20
a ="hththa"
a

'hththa'

In [12]:
a="abs"
print(type(a))
a=10
print(type(a))

<class 'str'>
<class 'int'>

In [13]:
x=10
x="abcd"
print(x)

abcd

In [14]:
x="abcd"
x=10
print(type(x))

<class 'int'>

In [16]:
a1=23
a2=3.4
a3=4+5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [1]:
a=10
print(id(a))
a=a+1
print(id(a))
a

2500849107472
2500849107504

11

In [4]:
a=1000
b=1000
print(id(a))
print(id(b))

2500927676624
2500929115504

In [6]:
a=10
id1=id(a)
print(id1)
b=a+2-2
id2=id(b)
print(id2)

2500849107472
2500849107472

# arithmetic operator

In [8]:
a=10
b=4
print(a+b)
print(a-b)

6

In [9]:
a*b

40

In [10]:
a/b        #floating point division

2.5

In [11]:
a//b      #integer division

2

In [12]:
a**b    # exponentiation

10000

In [13]:
a%b    # remainder of dision (modulus )

2

In [14]:
2+(3*4)  # 14 or 20

14

In [15]:
2*3/4

1.5

In [16]:
(2*3) //4  # don't remember the precedence table if you want to compute first 3*2 then putting bracket around it like this (2*3)

1

In [19]:
#simple interest
p =100
r=20
t=2
#si =p*r*t//100
#si=t//100 *r*p
si=(p*r*t)/100
print(si)

40.0

In [22]:
# fah to celcius conversion
f=100
c =(f-32)*5/9
print(c)
ci=(f-32)*5//9
ci

37.77777777777778

37

### input

In [29]:
#input()
b= ''
print(type(b))
c=int(b)
c

<class 'str'>

ValueError: invalid literal for int() with base 10: '3dfg'

In [30]:
# adding of number
a =int(input())
b =int(input())
print(type(a))
s=a+b
s

23
34
<class 'int'>

57

In [31]:
a=float(input())
type(a)

3.4

float

In [35]:
# fah to celsius conversion 
f= float(input())
c=(f-32)*5/9
c

98.6

37.0

In [36]:
#  simple  interest 
p = int(input())
r =int(input())
t =int(input())
si=(p*r*t)/100
si

100
12
2

24.0

In [39]:
a =int(input())
b= int(input())
c = int(input())
c=(a+b+c)/3
print(c)

4
3
6
4.333333333333333